/******************* Universal *******************/

html {
    position: relative;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

body {
    /*background-color: lightgray;*/
    background-position: right; 
    /* padding-bottom: 100px; */
    margin-top: 50px;
    width: 100%;
    margin: 0 auto;
    /*height: 100%;*/
    /*padding-bottom: 20px;*/
}

p { 
    font-size: 18px;
    padding: 0 30px;
}

main {
    height: ;
}

.container {
    width: 100%;
    max-width: 2000px !important;
    /*padding: 20px 30px;*/
    /*min-height: 80%;*/
}

#container {
    /*min-height: 77%;
    padding-bottom: 20px;*/

    min-height: calc(100vh - 155px);

}

.main {
    min-height: 80%;
}

.highlight-card {
    min-height: 200px;
    margin-top: -300px;
    /*background-color: lightgray;*/
}


nav .container, footer .container {
    padding: 0 0px;
}

h1, h2, h3, h4, h5, h6, li, p {
    color: black;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h3 {
    margin-bottom: 15px;
}
a, a:hover, a:active, a:focus {
    /*color: white;*/
}

p {
    font-family: Lora;
}

.footnote {
    margin-top: 30px;
}

/******************* Navigation *******************/

.navbar {
    height:50px;
    background-color: blue;
    border-radius: 0
}

.navbar-nav {
    background-color: black;
    display: block;
    padding: 3px;
}

.nav_title {
    font-size: 24px;
    display: inline-block;
    color: gray;
}

#donate {
    box-sizing: border-box;
    border: 2px solid white;
    background-color: lightgreen;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
    
}

#donate li {
    color: white;
}

.donate_nav {
    float: right;
    background-color: rgb(103,0,206);
    font-size: 24px;
    min-width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: pink  ;  
}

header {
    height: 50px;
}

/******************* Header *******************/

.view_top {
    background-size: auto;
    background-attachment:fixed;
    font-family: "Trebuchet MS", Courier, monospace;
    font-style: italic;
}

.view_top h1 {
    font-size: 60px;
    text-shadow: 2px 2px green;
}

.view_top.home h1 {
    text-transform: lowercase;
    font-size: 8em;
    line-height: 0.8em;
    margin: 0;
}

.view_top h2 {
    margin-top: 0;
}

/******************* Home *******************/

.home_info {
    font-family: Lucida Grande;
    border-radius: 50px;
    width: 50%;
    color: black;
    text-align: center;
    background-color:rgba(255,255,255,0.8);
}

.home_info h1 {
    color:green;
}

.home_info h2{
    font-size: 24px;
    color:green;
}
.home_info h3{
    color: green;
    font-style: italic;
    font-size: 18px;
}

.home_info p {
    margin-left: 25px;
    margin-right: 25px;
}

.home_info li {
    text-align: left;
}

#home_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    background-color: white;
    background-image: url("/img/smiling.png");
    background-size: cover;
}

#home_main h2 {
    font-size: 60pt;
    text-align: center;
    font-family: Lora;
    font-weight: bold;
    width: 100%;
    color: white;
}

#home_main h3 {
    font-size: 25pt;
    font-family: Lora, sans-serif;
    font-style: italic;
    color: white;
}

#home_option {
    font-size: 24px;
    text-align: center;
    background-color: rgba(128, 0, 64, 0.3);
    margin: 10px;
    padding: 30px;
    background-image: "/img/smiling.png";
}


.home_icon {
    color: white;
    font-size: 200pt;
}

.icontext {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

#home_buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

#home_buttons a {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-top: 50px;
    position: relative;
    transition: opacity 0.3s;
}

#home_buttons a:hover {
    opacity: 0.5;
}

#home_buttons p {
    /*background-color: rgba(128, 0, 64, 0.3);*/
    /*background-image: "/img/smiling.png";*/
    height: 20px;
    /*margin-top: 130px;*/
    width: 250px;
    height: 250px;
}

.image {
  display: inline-block;
  width: 250px;
  height: 250px;
}
.image:hover {
  /*opacity:0.5;*/
  /*background-color: rgba(0, 0, 0, 0.6);*/
  background-image: "/img/smiling.png";
/*  width: 250px;
  height: 250px;*/
}

/*image.overlay {
  position: auto;
  height: 100%;
  width: 100%;*/
  /*opacity: 0;*/
 /* transition: .5s ease;
  background-color: lightblue;
}*/
/*.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/


.home_ed {
    width: 150px;
    height: 150px;
    /*background-image: url("/img/education/home_ed.png");*/
}

#home_comm {
    background-image: url("/img/community/home_comm.png");
}

#home_med {
    background-image: url("/img/education/home_med.jpg");
}

#home_part {
    background-image: url("/img/community/home_part.jpg");
}

/******************* News *******************/

.news_main {
    background-size: 110%;
}

.news_list{
    /* Font settings */
    color: black;
    font-size: 24px;
    /* Background settings */
    border-spacing: 5px;
    /* Position settings */
    margin-left: 100px;
    width: 50%;
}

.news_list h1 {
    color: black;
    margin-left: 25px;
}

.news_list p {
    font-size: 18px;
    color: black;
    margin-left: 25px;
}


.news_embedded_calendar {
    /* Font */
    font-weight: bold;
    color: white;
    /* Position */
    padding-left: 50px;
    padding-top: 50px;
    position: relative;
    text-align: left;
}

.logout-button {
    font-style: italic;
    font-size: 24px;
    color: blue;
    background: pink;
    /*width: 20%;*/
    padding: 12px 20px;
    margin: 8px 20px;
    display: inline-block;
    border: 2px solid yellow;
}

.post-button {
    font-style: italic;
    font-size: 24px;
    color: blue;
    background: pink;
    /*width: 20%;*/
    padding: 12px 20px;
    margin: 8px 20px;
    margin-top: 30px;
    display: inline-block;
    border: 2px solid black;
}

.news-top-img {
    float: left;
    padding: 20px;
}

.list-group-item-heading, .post #about_head {
    font-size: 36px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-style: italic;
    color: #444;
/*    border-bottom: 3px solid #000080;
*/    font-weight: 100;
    padding: 25px; 
    padding-bottom: 0px;
    padding-top: 20px;
    margin: 0px;
}

.post #about_head {
    border-bottom: 3px solid #000080;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.list-group-item-author, .post h2 {
    font-size: 24px; 
    font-family: Georgia, serif;
    color: #4E443C;
    font-variant: small-caps;
    padding-left: 25px;
    padding-top: 0px;
}

#time {
    font-size: 14px;
    padding: 10px;
    padding-left: 25px;
    padding-top: 5px;
}

.list-group-item-text, .post p {
    color: #666;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    padding-left: 40px;
}

.post p {
    margin-bottom: 20px;
}

.list-group-item {
    padding: 0px;
}

/******************* About *******************/

#about_head {
    font-family: times, "Times New Roman", times-roman, georgia, serif;
    font-size: 42px;
    font-style: italic;
    line-height: 40px;
    /*letter-spacing: -1px;*/
    color: #444;
    font-weight: 100;
    padding: 15px;
    margin: 10px;
    margin-bottom: 0px;
    border-bottom: 3px solid #000080;
}

.about {
    /*font-family: Sans Serif;*/
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card:first-child {
    width: 700px;
    margin-left: 40px;
    margin-right: 40px;
}

.about p {
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    margin-top: .5em; color: #666;
}

.about h2 {
    font-size: 24pt;
    /*font-style: italic;*/
    color: maroon;
    margin: 15px;
    font-family:Georgia,serif;
    color:#4E443C;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}

.about h3 {
    font-size: 16pt;
    /*font-family: Lucida Grande;*/
    font-style: italic;
    padding: 20px;
    /*margin: 15px;*/
    padding: 5px;
    /*margin: 15px 0;*/
}

.about span {
    font-weight: bold;
}

/* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 30%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    /*padding: 10px;*/
    /*margin: 10px;*/
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.2);
    width: 440px;
    margin: 10px;
}

.card p {
    font-family:Times;
    /*line-height: 20px;*/
}

.card img {
    max-height: 200px;
    max-width: 200px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 10px;
    border: 3px solid silver;
    border-radius: 25px;
}

/* Some left and right padding inside the container */
.container {
    padding: 16px;
}

/* Clear floats */
/*.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}*/

.title {
    color: grey;
}

.button {
    position: 600px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    /*width: 100%;*/
}

.button:hover {
    background-color: #555;
}

/******************* Resources *******************/

.resources_main {
    background-size: 90%;
}

.resources_list {
    margin-top: 10px;
    width: 80%;
    /* Font */
    /*position: left;*/
    font-family: Lucida Grande;
    font-size: 18px;
    /* Background */
    background-origin: border-box;
    /* Border */
    /*border-spacing: 5px;*/
    /*border: 10px solid transparent;*/
    /*background-color: transparent !important;*/
    border-collapse: collapse;
    /* Position */
/*    margin-top: 20px;
    padding-left: 20px;*/
}

.resources_list a {
    color: black;
    /*font-size:;*/
}

.resources_list p {
    color: black;
    font-size: 36px;
}

/* unvisited link */
a:link {
    color: green;
    font-style: italic;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

#resource_item {
    position: left;
    
}

#resource_item p {
    color: #666;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    font-size: 18px;
}

#resources_main {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    background-color: white;
    /*background-image: url("/img/smiling.png");*/
    background-size: cover;
    
}
.resources_list h2 {
    font-size: 42px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-style: italic;
    color: #444;
    border-bottom: 3px solid #000080;
    /* padding-bottom: 5px; */
    font-weight: 100;

    padding: 15px;
    margin: 15px;
    margin-bottom: 0px;

    /*font-size: 16pt;
    font-family: Lucida Grande;
    font-style: italic;
    color: rgb(182,0,0);
    border-bottom: 3px solid #000080;*/
/*    padding-bottom: 5px;
    margin: 15px 0;*/
}

.resources {
    padding-left: 40px;
}

/*.resources_list h2 {
    font-family: Lucida Grande;
    color: purple;
    font-style: italic;
}
*/
.resources ul {
    list-style-type: none;
    padding: 10px;
    opacity: 0.8;
    width: 40%;
}

.resources_accordion.active, .resources_accordion:hover {
    background-color:rgba(255,205,205,0.5);
}

.resources_accordion:before {
    content: '\002B  ';
    color: yellow;
    font-size: 24px;
}

.resources_accordion.active:before {
    content: "\2212  ";
}

div.panel {
    background-color: black;
    overflow: hidden;
}



/******************* Sponsors & NGOs *******************/

.sponsors_main {
    background-size: 90%;
}

.sponsors_list_table {
    /* Font */
    font-family: Lucida Grande;
    font-size: 18px;
    /* Background */
    /* Border */
    border-spacing: 5px;
    /*border: 10px solid transparent;*/
    background-color: black;
    border-collapse: collapse;
    /* Position */
    margin-top: 100px;
    margin-left: 50px;
    position: relative;
    width: 40%;
}

/******************* Find Us *******************/

.findus {
    background-size: 90%;
    width: 80%;
    /*margin-left: 40px;
    margin-bottom: 40px;*/
}

.findus h1 {
    font-size: 42px;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-style: italic;
    color: #444;
    border-bottom: 3px solid #000080;
    /*padding-bottom: 5px;*/
/*    margin: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
*/
    font-weight: 100;
    padding: 15px;
    margin: 15px;
    margin-bottom: 0px;
    border-bottom: 3px solid #000080;
}

/*.findus h2 {
    font-size: 24pt;
    font-family: Lucida Grande;
    font-style: italic;
    margin-left: 15px;
}

.findus h3 {
    font-size: 13pt;
    font-family: Lucida Grande;
    padding-left: 20px;
}*/

.findus .lowerheader {
    font-size: 28px; 
    font-family: Georgia, serif;
    color: #4E443C;
    font-variant: small-caps;
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
}

.findus .text {
    color: #666;
    font-family: "Helvetica Neue", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    padding-bottom: 5px;
    margin-left: 5px;
}


/******************* Donations *******************/


.donation-preamble h1 {
    font-size:24px;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color: maroon;
    margin: 20px;
}

#donateInput {
    width: 50%;
    position: center;
    padding: 20px;
}

.donation-preamble h2 {
    font-size:16px;
    /*font-family: 'Montserrat', sans-serif;*/
    margin: 30px;
}

.donation-container {
    /*height: 1000px;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    /*border-radius: 100px;*/
    /*text-transform: uppercase;*/
    margin: 20px;
    margin-top: 30px;

}

.donation-box {
/*    width: 50%;
    height: 50%;*/
    background-color: pink;
    /*border-radius: 100px;*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
/*    margin-left: auto;
    margin-right: auto;*/
    
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.donation-box .title {
    background-color: blue;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /*color: white;*/
    text-align: center;
/*    padding-top: 12px;
    padding-bottom: 12px;*/
    /*font-size: 15px;*/
}

.donation-box .donate-button {
    background-color: blue;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    bottom: 0px;
    position: relative;
    cursor: pointer;
    font-weight: 800;
}

.donation-box .donate-button form {
    border: none;
}

.donation-box .fields {
    width: 50%;
    display: block;
    position: relative;
    /*top: 60px;*/
    left: 15px;
}

.donation-box .fields input {
    width: 90%;
    font-size: 17px;
    padding: 10px;
    border-radius: 4px;
    border-width: 0px;
    color: #5C5C5C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cdcdcd;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cdcdcd;
   font-size: 15px; 
}

:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
    width: 30%;
    display: block;
    position: absolute;
    top: 60px;
    right: 15px;
    clear: both;
}

.donation-box .amount .button {
    width: 100%;
    background-color: gray;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    padding: 15px 0px 15px 0px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    
    -webkit-transition: 400ms background-color;
    -moz-transition: 800ms opacity, 800ms right;
    -ms-transition: 800ms opacity, 800ms right;
    -o-transition: 800ms opacity, 800ms right;
    transition: 200ms background-color;
}

.donation-box .amount .button:hover {
    background-color: #393939;
}

.donation-box .amount .button.selected {
    background-color: #393939;
}

.donation-box .amount .button input {
    min-width: 34px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    border-bottom: 2px dashed white;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.set-amount {
    max-width: 100px;
}

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.causes h1 {
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 5px;
    text-decoration: underline;
    font-size: 24px;
    color: maroon;
}

.causes label {
    /*font-style: italic;*/
    /*margin: 10px;*/
    font-size: 18px;
    color: black;
}
.causes p {
    /*font-style: italic;*/
    margin: 10px;
    font-size: 14px;
    color: black;
}

.causes {
    margin-left: 20px;
    font-size: 20px;
    padding: 20px;
}

.confirm {
    display: none;
    position: auto;
    top: 335px;
    left: 15px;
    right: 15px;
    font-size: 16px;
    
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.confirm i {
    font-weight: bold;
    text-decoration: underline;
    font-style: normal;
}

/******************* Login Form *******************/

.login_button {
    float: right;
    font-size: 24px;
    background: pink;
    min-width: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 5px solid black;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* Some code borrowed from: https://www.w3schools.com/howto/howto_css_login_form.asp */

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.password {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.password {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/******************* Footer *******************/

footer {
    height: 20px;
    /* position: fixed; */
    bottom: 0px;
    /* margin-top: 50px    ; */
    padding-bottom: 75px;
    padding-top: 20px;
    width: 100%;
    background-color: black;
    margin-bottom: 0px;
    text-align: center;
}

.footer_line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.footer_line p {
    width: 200px;
}

footer p, footer a, footer a:visited, footer a:link {
    color: lightgray;
    height: 25px;
}

footer a {
    color: inherit;
}