<!doctype html>
<html class="donations_main">
<head>
    <% include header %>
</head>

<body>
    <h1 id="about_head">About Us</h1>
    <div class="about">
    	<h2>Improving Lives of Children with Disabilities in Tanzania</h2>

        <p>Tanzania has a population of close to 50 million people, with over 21 million under age 15 years.  World Health Organization projects 7-10% of African children are disabled, including the over 1.5 million children in Tanzania for whom appropriate medical care is rarely attainable and educational opportunities barely exist.  Under-5 mortality for children with disabilities approaches 50% and isolation and neglect is common.</p> 

        <p> Wezesha Kupaa empowers children with disabilities by improving access to health care, education, and social opportunity.  We provide direct outreach, medical care and special needs education for children with disabilities in our local area and we support a network of dedicated people and organizations providing similar services all across Tanzania.
        </p>
 
		<h2>What do we do?</h2>

            <p> <span style="font-weight:bold;">We share</span> God’s love by providing direct medical care, community programs, and education to the most marginalized children in Africa.</p>

            <p> <span style="font-weight:bold;">We network</span> with other direct care providers, educators and advocates across Tanzania to improve access to local disabilities services for children and increase community inclusivity.</p> 

            <p> <span style="font-weight:bold;">We partner</span> with people around Tanzania and across the world striving for improved awareness, human rights and equal opportunities for children with disabilities.</p>

            <p> <span style="font-weight:bold;">We raise funds</span> to support surgical procedures, healthcare, mobility aids, and scholarships so more children will have a chance to be healthy and go to school.</p>

		<h2>Why do we do it?</h2>

    		<p> <span style="font-weight:bold;">Our mission</span> is to know God and make Him known.</p>
            <p> <span style="font-weight:bold;">We live</span> the unconditional love of God that is offered equally to all people, not limited by human abilities or disabilities.</p> 
            <p> <span style="font-weight:bold;">We believe</span> marginalization and misery experienced by children with disabilities is incompatible with God’s love as we know it and we are called not just to care but to act. Wezesha Kupaa is our response.</p>
    </div>
    <h1 id="about_head">Who We Are</h1>
    <div class="about-who">

        <p>Wezesha Kupaa, Swahili for Enable to Fly, is a comprehensive disability outreach program in Tanzania. We empower children with disabilities by improving their a ccess to specialized medical care, education, social inclusion and support.  Our name was inspired by the words of the Mexican painter Frida Kahlo who said, “Feet, what do I need you for when I have wings to fly?”
        </p>
 
     <div class="row">
          <div class="column">
            <div class="card">
             <img src="/img/who_we_are/pamela.png"; alt="Joel" style="max-width:200px;max-height:200px;">
              <div class="container">
                <h2>Dr. Pamela Follett</h2>
                <p class="title">CEO &amp; Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="/img/who_we_are/jeremiah.png"; alt="Joel" style="max-width:200px;max-height:200px;">
          <div class="container">
            <h2>Jeremiah Kiwindi</h2>
            <p class="title">Art Director</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="/img/who_we_are/joel.png"; alt="Joel" style="max-width:200px;max-height:200px;">
          <div class="container">
            <h2>Dr. Joel Carpenter</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="/img/who_we_are/beate.png"; alt="Joel" style="max-width:200px;max-height:200px;">
          <div class="container">
            <h2>Beate Kiwindi</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
    <div class="column">
        <div class="card">
          <img src="/img/who_we_are/rebecca.png"; alt="Joel" style="max-width:200px;max-height:200px;">
          <div class="container">
            <h2>Rebecca Opetal</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>example@example.com</p>
            <p><button class="button">Contact</button></p>
        </div>
    </div>
    </div>
    </div>
    </div>

<footer>
    <% include footer %>
</footer>
    
</body>