<!doctype html>
<html class="donations_main">
<head>
    <% include header %>
</head>

    <div class="about">
    	<h2>Improving Lives of Children with Disabilities in Tanzania</h2>
        <p>Tanzania has a population of close to 50 million people, with over 21 million under age 15 years.  World Health Organization projects 7-10% of African children are disabled, including the over 1.5 million children in Tanzania for whom appropriate medical care is rarely attainable and educational opportunities barely exist.  Under-5 mortality for children with disabilities approaches 50% and isolation and neglect is common. Wezesha Kupaa empowers children with disabilities by improving access to health care, education, and social opportunity.  Our center at Uzima Clinic, on the Youth With a Mission (YWAM)-Mwandege mission base in south coastal Tanzania, provides access to specialty medical care, health support and surgical referral to children with developmental disabilities.  Day Spring Academy and Preschool provides special education for children with disabilities within an integrated preschool and primary school.  House of Hope residence and training facility offers safe housing for children and families seeking assistance and hosts educational workshops on the many challenges of  living well with disabilities. We provide direct outreach, medical care and special needs education for children with disabilities in our local area and we support a network of dedicated people and organizations providing similar services all across Tanzania.</p>
        
        <h2>Our Progress:</h2>
		<p>In 2009 we conceived our first disability outreach: a mobile specialty clinic for underserved children with neurodevelopmental disabilities in remote regions of Tanzania.  We began visiting rural villages that had limited access to medical care, initially unaware of the enormous obstacles facing these carefully hidden children. In Tanzania, as in many African countries, children with disabilities are considered cursed and are all too often hidden away for life to avoid shame.  They are denied basic human rights including health and community participation.  Children with developmental disabilities have multiple obstacles to overcome and appropriate medical care is only a beginning.  Community exclusion originates from cultural beliefs and attitudes that are slow to change.  Access to education is denied simply due to the existence of an abnormality, with or without disability.  Vanishing family support for a mother whose child has a developmental abnormality leads to abject poverty and few viable options. But hope changes lives. In 2010 we renovated a discarded shipping container into a dedicated pediatric clinic space and began evaluating and treating local village children with disabilities. In 2012 we built a new Diagnostic Center for Children and we were joined by Rebecca Opetsi, who began a disability outreach ministry to surrounding villages. In 2015, with new wheelchair accessibility and a dedicated special needs teacher, we welcomed our first child with disabilities to Dayspring Preschool on a full scholarship. Currently over a hundred local children access essential medical care, receive therapy, participate in workshops, attend school, or have a home and means of support due to their involvement with Wezesha Kupaa.</p>
 
		<h2>What do we do?</h2>
		<p>We share God’s love by providing direct medical care, community programs, and education to the most marginalized children in Africa. We network with other direct care providers, educators and advocates across Tanzania to improve access to local disabilities services for children and increase community inclusivity. We partner with people around Tanzania and across the world striving for improved awareness, human rights and equal opportunities for children with disabilities. We raise funds to support surgical procedures, healthcare, mobility aids, and scholarships so more children will have a chance to be healthy and go to school.</p>

		<h2>Why do we do it?</h2>
		<p>Our mission is to know God and make Him known. We live the unconditional love of God that is offered equally to all people, not limited by human abilities or disabilities. We believe marginalization and misery experienced by children with disabilities is incompatible with God’s love as we know it and we are called not just to care but to act. Wezesha Kupaa is our response.</p>
    </div>

<footer>
    <% include footer %>
</footer>
    
</body>