<!doctype html>
<html lang="en" class="donations_main">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <h1 id="about_head">About Wezesha Kupaa</h1>
    
    <div class="about">
<!--         <p style="font-size: 28px">Wezesha Kupaa, Swahili for Enable to Fly, is a comprehensive disability outreach program in Tanzania. We empower children with disabilities by improving their a ccess to specialized medical care, education, social inclusion and support.  Our name was inspired by the words of the Mexican painter Frida Kahlo who said, “Feet, what do I need you for when I have wings to fly?”
        </p>
 -->    	<h2>Improving Lives of Children with Disabilities in Tanzania</h2>
            <p>Tanzania has a population of close to 50 million people, with over 21 million under age 15 years.  World Health Organization projects 7-10% of African children are disabled, including the over 1.5 million children in Tanzania for whom appropriate medical care is rarely attainable and educational opportunities barely exist.  Under-5 mortality for children with disabilities approaches 50% and isolation and neglect is common.</p> 

            <p> Wezesha Kupaa empowers children with disabilities by improving access to health care, education, and social opportunity.  We provide direct outreach, medical care and special needs education for children with disabilities in our local area and we support a network of dedicated people and organizations providing similar services all across Tanzania.
            </p>
		<h2>What do we do?</h2>
            <p> <span style="font-weight:bold;">We share</span> God’s love by providing direct medical care, community programs, and education to the most marginalized children in Africa.</p>
            <p> <span style="font-weight:bold;">We network</span> with other direct care providers, educators and advocates across Tanzania to improve access to local disabilities services for children and increase community inclusivity.</p> 
            <p> <span style="font-weight:bold;">We partner</span> with people around Tanzania and across the world striving for improved awareness, human rights and equal opportunities for children with disabilities.</p>
            <p> <span style="font-weight:bold;">We raise funds</span> to support surgical procedures, healthcare, mobility aids, and scholarships so more children will have a chance to be healthy and go to school.</p>
		<h2>Why do we do it?</h2>
    		<p> <span style="font-weight:bold;">Our mission</span> is to know God and make Him known.</p>
            <p> <span style="font-weight:bold;">We live</span> the unconditional love of God that is offered equally to all people, not limited by human abilities or disabilities.</p> 
            <p> <span style="font-weight:bold;">We believe</span> marginalization and misery experienced by children with disabilities is incompatible with God’s love as we know it and we are called not just to care but to act. Wezesha Kupaa is our response.</p>
    </div> <!-- End class about -->

    <h1 id="about_head">Who We Are</h1>
    <div class="about">

 
         <div class="row">
            <div class="column">
                <div class="card">
                 <img src="/img/who_we_are/pamela.png"; alt="Joel" style="max-width:200px;max-height:200px;">
                    <div class="container">
                        <h2>Dr. Pamela Follett</h2>
                        <!-- <p class="title">CEO &amp; Founder</p> -->
                        <p><span style="font-family:Georgia,serif; color:#4E443C; font-style:italic">Dr. Pam Follett</span> is a pediatric neurologist and neuroscientist who specializes in neurodevelopmental disabilities.  She has provided specialty medical support to children with disabilities in East Africa since 2005, when she first visited Kijabe Hospital in Kenya while on staff at Children’s Hospital Boston.  During a visit to Dar es Salaam in 2009 she met Dr. Joel Carpenter and together they imagined  and began an outreach for children with disabilities in Tanzania.  In addition to her work with Wezesha Kupaa, Dr. Pam is a faculty  member in the Eliot-Pearson Department of Child Health and Human Development at Tufts University in Medford, MA. </p>
                        <p>example@example.com</p>
                        <!-- <p><button class="button">Contact</button></p> -->
                    </div> <!-- End class container -->
                </div> <!-- End class card -->
            </div> <!-- End class column -->

        <div class="column">
            <div class="card">
                <img src="/img/who_we_are/jeremiah.png"; alt="Joel" style="max-width:200px;max-height:200px;">
                <div class="container">
                    <h2>Jeremiah Kiwindi</h2>
                    <p class="title"></p>
                    <p><span style="font-family:Georgia,serif; color:#4E443C; font-style:italic">Jeremiah Kiwindi</span>  is the National Director  for YWAM in Tanzania as well as the local director of YWAM-Mwandege mission base.  When Jeremiah moved in 2000 from his home in Kenya to the 81 acre mission base in the rural village of Mwandege it was mostly undeveloped land.   Faithful guidance and leadership has resulted in a vibrant community of diverse ministries with multiple  opportunities to know God better and to share His love with others.</p>
                    <p>example@example.com</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div> <!-- End class container -->
            </div> <!-- End class card -->
        </div> <!-- End class column -->

        <div class="column">
            <div class="card">
                <img src="/img/who_we_are/joel.png"; alt="Joel" style="max-width:200px;max-height:200px;">
                <div class="container">
                    <h2>Dr. Joel Carpenter</h2>
                    <p class="title"></p>
                    <p><span style="font-family:Georgia,serif; color:#4E443C; font-style:italic">Dr. Joel Carpenter</span>  completed medical school in Illinois and family practice residency in Florida.  He practiced medicine in the states briefly before following God to East Africa as a missionary physician with Youth With A Mission (YWAM-Tanzania) in 1999.  His deep commitment to underserved people is demonstrated by the many programs and mobile clinics he brought to rural villages and remote areas of Tanzania.  He opened the Uzima Mission Clinic in Mwandege village, Tanzania in 2004, subsequently partnering with Dr. Pam in 2009, extending his medical outreach to neglected children with disabilities in the rural villages of Tanzania.</p>
                    <p>example@example.com</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div> <!-- End class container -->
            </div> <!-- End class card -->
        </div> <!-- End class column -->

        <div class="column">
            <div class="card">
                <img src="/img/who_we_are/beate.png"; alt="Joel" style="max-width:200px;max-height:200px;">
                <div class="container">
                    <h2>Beate Kiwindi</h2>
                    <p class="title"></p>
                    <p><span style="font-family:Georgia,serif; color:#4E443C; font-style:italic">Beate Kiwinda</span> was born in Germany.  She studied nursing in Frankfurt and Midwifery in London before joining YWAM and going to East Africa.  She was a missionary in a remote village of Kenya when she met her husband Jeremiah, who convinced her to join him at YWAM-Mwandege in Tanzania.  She currently directs the birthing center at Uzima Clinic and is trained in prenatal ultrasound.  She is committed to improving maternal-child health, a critical part of disability prevention.</p>
                    <p>example@example.com</p>
                    
                </div> <!-- End class container -->

            </div> <!-- End class card -->
        <!-- <p><button class="button">Contact</button></p> -->
        </div> <!-- End class column -->

        <div class="column">
            <div class="card">
                <img src="/img/who_we_are/rebecca.png"; alt="Joel" style="max-width:200px;max-height:200px;">
                <div class="container">
                    <h2>Rebecca Opetal</h2>
                    <p class="title"></p>
                    <p><span style="font-family:Georgia,serif; color:#4E443C; font-style:italic">Rebecca</span>  is the Disability Outreach Coordinator for Wezesha Kupaa at the Uzima Clinic in Mwandege, Tanzania.  When she received her BA from Tangaza University she was the first person in her village to graduate from college.  Rebecca is passionately committed to helping children with disabilities live full and productive lives.  She was a social worker for Bethany Kids at Kijabe Hospital, Kenya before she moved to Tanzania to begin the outreach and support programs of Wezesha Kupaa.  Rebecca was born in Kenya with Spina Bifida.  She knows that disabilities do not dictate who you are or what your dreams should be.</p>
                    <p>example@example.com</p>
                    <!-- <p><button class="button">Contact</button></p> -->
                </div> <!-- End class container -->
            </div> <!-- End class card -->
        </div> <!-- End class column -->
    </div> <!-- End class row -->
</div> <!-- End class about-who -->



<script>

var editing  = false; /* Not initially in editing mode */

if (document.getElementById && document.createElement) {
    var button = document.createElement('BUTTON');
    var button_label = document.createTextNode('Save');
    button.appendChild(button_label);
    button.onclick = saveEdit;
}

function catchIt(e) {
    if (editing) { /* Already editing text area*/
        return;
    }
    if (!document.getElementById || !document.createElement) {
        return;
    }
    if (!e) {
        var obj = window.event.srcElement;
    }
    else {
        var obj = e.target;
    }
    while (obj.nodeType != 1) {
        obj = obj.parentNode;
    }
    if (obj.tagName == 'TEXTAREA' || obj.tagName == 'A') {
        return;
    }
    while (obj.nodeName != 'P' && obj.nodeName != 'HTML') {
        obj = obj.parentNode;
    }
    if (obj.nodeName == 'HTML') {
        return;
    }
    var x = obj.innerHTML;
    var y = document.createElement('TEXTAREA'); /* Create a new element to replace it */
    var z = obj.parentNode;
    z.insertBefore(y,obj);
    z.insertBefore(button,obj);
    z.removeChild(obj);
    y.value = x;
    y.focus();
    editing = true;
}

/* only for editing post content */
function saveEdit() {
    console.log("Saving edit!");

    var area = document.getElementsByTagName('TEXTAREA')[0];
    var y = document.createElement('P');
    var z = area.parentNode;
    y.innerHTML = area.value;
    z.insertBefore(y,area);
    z.removeChild(area);
    // z.removeChild(document.getElementsByTagName('button')[0]);
    editing = false;
    console.log("area: ", area);
    console.log("y: ", y);
    console.log("z: ", z);
    console.log("area.value: ", area.value);

    /* Information to send in the form */
    var hiddenField = document.createElement("input");
    hiddenField.setAttribute("type", "hidden");
    hiddenField.setAttribute("name", "edit");
    hiddenField.setAttribute("value", area.value);

    /* Dynamic form to handle changes to post content */
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", "/editAbout");
    form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();

}

document.onclick = catchIt;
</script>



<footer>
    <% include footer %>
</body>
</html>
