<!doctype html>
<html class="donations_main">
<head>
    <% include header %>
</head>

    <p> About Wezesha Kupaa </p>

    <div class="about">
        
    </div>

<footer>
    <% include footer %>
</footer>
    
</body>