<!doctype html>
<html class="donations_main">
<head>
    <% include inner_head %>
</head>
<body>
    <% include navbar %>

    <div class="donation-info">
 
        <p>Medical and Surgical Care</p>
        <p>50 USD offers room and board at House of Hope for a parent with a child seeking local medical and surgical care</p>

        <p>Outreach Workshops</p>
        <p>100 USD covers cost of a weekend workshop on nutrition, disability support or other community health topic</p>

        <p>Supporting Education</p>
        <p>250 USD a year sends a child with disabilities to school</p>

        <p>Essential Corrective Surgery</p>
        <p>500 USD provides transportation and surgery for a child needing to travel for life saving but locally unavailable surgical care</p>

    </div>
           
    <div class="donation-box">
        <div class="title">Donation Information</div>
        
        <div class="fields" style="margin-bottom: 20px; width: 30%;">
            <input type="text" id="firstName" placeholder="First Name"> 
            <input type="text" id="lastName" placeholder="Last Name"> 
            <input type="text" id="email" placeholder="Email"> 
            <input type="text" id="comments" placeholder="Comments">
        </div>

        <div class="input-group" style="margin-bottom: 20px; width: 30%;">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="text-align: right;" data-ng-model="amount">
            <span class="input-group-addon">USD</span>
        </div>

        <div class="row ng-scope" style="margin-bottom: 20px">
<!--             add image?
 -->            <div class="col-lg-2">
                <form name="_xclick" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_donations">
                    <input type="hidden" name="business" value="online.donations@ywamtyler.org">
                    <input type="hidden" name="item_name" value="Youth With A Mission">
                    <input type="hidden" name="currency_code" value="USD">
                    <input type="hidden" name="amount" value="">
                    <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0">
                </form>
            </div>
        </div>
    </div>

    <% include footer %>
    
</body>
</html>
