<!doctype html>
<html class="donations_main">
<head>
    <% include inner_head %>
</head>
<body>
    <% include navbar %>
    <div class="flex-container">
        <div class="text">
          <h2>Help keep our community strong</h2>
          <img src="img/community/SNV32026.JPG" style="width:350px; height:250px;" alt="cute baby">
        </div>

        <div class="amount">
            <h2>Your Contribution <br> 
            Builds a great community</h2>

            <div class="b1">
                <button type="button">$50 </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button">$100 </button>
            </div>

            <div class="b2">
                <button type="button">$150</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button">$200</button>
            </div>

            <div class="b3">
                <button type="button">$250</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button">$300</button>
            </div>
     
            <div class="donations_form">
                <h3>Donate via</h3>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                    <!-- Identify your business so that you can collect the payments. -->
                    <input type="hidden" name="business">
                    <input type="hidden" name="cmd" value="_donations">

                    <!-- Specify details about the contribution -->
                    <input type="hidden" name="item_name" value="Wezesha Kupaa">
                    <input type="hidden" name="currency_code" value="USD">

                    <!-- Display the payment button. -->
                    <input type="image" name="submit"
                    src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/gold-rect-paypal-26px.png" alt="PayPal">

                </form>
            </div>

        </div>
    </div>

    <% include footer %>
    
</body>
</html>