<!doctype html>
<html class="donations_main">
<head>
    <% include inner_head %>
</head>
<body>
    <% include navbar %>

    <h1 id="about_head">Your Contribution Goes To </h1>
    <div class="about">
        <h2>Medical and Surgical Care</h2>
            <p>50 USD offers room and board at House of Hope for a parent with a child seeking local medical and surgical care</p>

        <h2>Outreach Workshops</h2>
            <p>100 USD covers cost of a weekend workshop on nutrition, disability support or other community health topic</p>

        <h2>Supporting Education</h2>
            <p>250 USD a year sends a child with disabilities to school</p>

        <h2>Essential Corrective Surgery</h2>
            <p>500 USD provides transportation and surgery for a child needing to travel for life saving but locally unavailable surgical care</p>
    </div> 
           
    <div class="donation_form">
        <h1 id="about_head">Donate to Wezesha Kupaa </h1>
        <div class="row ng-scope" style="margin: 20px; width:50%">
            <form id="info" action="https://www.paypal.com/cgi-bin/webscr" method="post">
              <input type="hidden" name="cmd" value="_donations">
              <input type="hidden" name="business" value="online.donations@ywamtyler.org">
              <input type="hidden" name="item_name" value="Wezesha Kupaa">
              <input type="text" name="first_name" placeholder="First Name" value="">
              <input type="text" name="last_name" placeholder="Last Name" value="">
              <input type="text" name="address1" placeholder="Address Line 1" value="">
              <input type="text" name="address2" placeholder="Address Line 2" value="">
              <input type="text" name="city" placeholder="City" value="">
              <input type="text" name="state" placeholder="State" value="">
              <input type="text" name="zip" placeholder="Zip" value="">
              <input type="text" name="email" placeholder="Email" value="">
              <input type="text" id="myamount" name="amount" placeholder="Amount (USD)" value="">
              <input type="image" name="submit" id="submit"
                src="http://www.paypal.com/en_US/i/btn/btn_donate_LG.gif"
                alt="PayPal - The safer, easier way to pay online">
            </form>

            <script>
              $("#submit").click(function() {
                  $.post("/donations", $('#info').serialize());
              });
            </script>

        </div>
    </div>

    <% include footer %>
    
</body>
</html>
