<!doctype html>
<html class="donations_main">
<html lang="en">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <!-- <main id="home_main"> -->
        <div id="container">
            <div class="findus">
                <!-- <a target="_blank" href="/education">Education</a> -->
                <h1>For services:</h1>
                <h2>Rebecca Opetsi</h2>
                <h3>Outreach Coordinator, Wezesha Kupaa
                    <br>
                    wezeshakupaa@gmail.com
                    <br>
                    0789 066821<h3>
                <h1>To join the network:</h1>
                <h2>Pamela Follet</h2>
                <!-- TODO: Add info here -->
            </div>
        </div>
    <!-- </main> -->
<% include footer %>
</body>
