<!doctype html>
<html class="donations_main">
<html lang="en">
<head>
    <% include header %>
</head>

<body style="width: 100%">
    <main id="home_main">
        <div id="container">
            <div id ="home_option">
                <a target="_blank" href="/education">Education</a>
            </div>
        </div>
    </main>
<% include footer %>
</body>
