<!doctype html>
<html>
<head>
    <% include inner_head %>
</head>

<body>
    <% include navbar %>

    <div class="about">
        <a class="post-button" href="/handouts">English</a>
        <div class="celebral_palsy">
            <h1>Cerebral Palsy</h1>
            <h2>Cerebral Palsy ni nini?</h2> 
            <p>Cerebral palsy ina sababishwa na ajaliya ubongo kabla ya mtoto kuzaliwa ama muda mfupi kabla hajazaliwa. Wakati mwingine ajali hiyo huathiri misuli, kuchelewa kwa mtoto kujigeuza, kutambaa na kutembea. Jambo hili likitikea wakati mtoto anapozaliwa au baadaye mtoto anaweza kukuwa na upungufu wa uwezo wa kujifunza haraka. Watoto wegi walio na cerebral palsy mara nyingi miili yao huwa dhaifu na watoto hawa wanawez kukuwa na matatizo ya kula, kulala nad kukua. </p>

            <h2>Kuzuia</h2>
            <p>Cerebral palsy inasababishwa na ajali ya ubongo mapema maishani, maambukizi au ukosefu wa hewa ya oxigeni kabla au mtoto anapokuwa anazaliwa. Cerebral palsy hujitokeza pia kwa watoto walio zaliwa kabla ya miezi tisa! Matibabu mazuri kwa mama mjamzito kabla ya kujifunguna wakati anapojifungua yanaweza kuzuia Cerebral Palsy kwa watoto wengi!</p>

            <h2>Kutembea</h2>
            <p>Watoto walio na cerebral Palsy wana udhaifu na ugumu kwenye miguu na mikono yao. Mara nyingi wanahitaji viati maalum, mikongojo au kiti cha magurudumu kutembea. Watoto wengi walio na cerebral palsy wana akili za kawaida. Kwa msaada wanaweza kufurahia familia zao, kwenda shuleni na kuishi maisha ya furaha wakitimiza malengo ya maisha yao.</p>

            <h2>Mishtuko</h2>
            <p>Watoto walio na Cerebral Palsy wanaweza kukuwa na Mishtuko, Dawa maalum hutumika kila siku kuzuia mishtuko na ajali ambazo hutokana na mishtuko.</p>
            </br>
        </div>

        <div class="club_feet">
            <!-- <h1>Club Feet</h1>
            <h2>What are Club Feet?</h2> 
            <p>Clubfoot describes a range of foot abnormalities usually present at birth (congenital) in which your baby&#39;s foot is twisted out of shape or position. In clubfoot, the tissues connecting the muscles to the bone (tendons) are shorter than usual. The term &quot;clubfoot&quot; refers to the way the foot is positioned at a sharp angle to the ankle, like the head of a golf club. Clubfoot is a fairly common birth defect and is usually an isolated problem for an otherwise healthy newborn. Clubfoot can be mild or severe. About half of children with clubfoot have it in both feet. If your child has clubfoot, it will make it hard for him or her to walk normally, so doctors generally recommend treating it soon after birth. Early casting is usually able to treat clubfoot successfully, though sometimes children need follow-up surgery later on. </p></br> -->
        </div>

        <div class="development_disabilities">
            <h1>Je, Ulemavu Endelevu</h1>
            <h2>Je, Ulemavu Endelevu ni nini?</h2> 
            <p>Kasoro za kimaumbile ambazo zinasababisha kutonawiri kwa afya ya mtoto, hutokeo wakati ambapo mwili na ubongo wa mtoto zinakua na kujifunza. Hali hii hujitokeza aidha kabla ya kuzaliwa au anapozaliwa mtoto. Kisha mtoto anavyo endelea kukua miili yao huwa tofauti ikithihirisha kustawi kwake kulivyo athirika. Watoto hawa wanaweza kukuwa na ugumu wa kutembea, kutumia mikono yao, kuongea, kujifunza oa kukuwa na tabia za kawaida. Kasoro ya Kutonawiri kwa Afya ya mtoto sio laana.</p></br>
        </div> 

        <div class="hydrocephalus">
            <h1>Vichwa Vikubwa</h1>
            <h2>Vichwa Vikubwa ni nini?</h2> 
            <p>Ubongo ya kila mtu imezingirwa na maji. Wakati mwingine maji mengi huzingira ubongo wa mtoto na hivyo kusababisha kichwa chake kukua kwa kasi kuliko kawaida. Kichwa cha mtoto kikionekana kukua kikubwakuliko mwili wake ni muhimu kupata msaada wa kimatibabu!</p></br>
        </div> 

        <div class="seizures">
            <h1>Mishtuko</h1>
            <h2>Mishtuko ni nini?</h2> 
            <p>Watoto walio na ulemavu endelevu manaweza kukuwa na mishtuko. Dawa maalum hutumika kila siku kuzuia ama kusitisha mishtuko na pia kuzuia athari mbaya kama ajali au hali ya kuzidisha hali walionayo watoto hawa.</p></br>
        </div> 

        <div class="spina_bifida">
            <h1>Spina Bifida</h1>
            <h2>Spina Bifida ni nini?</h2> 
            <p>Spina Bifida is caused when the spine does not form properly very early in development, before a baby is born. Then when the baby is born this problem in their back leads to weakness in their legs and toileting difficulties. </p>

            <h2>Kuzuia</h2>
            <p>Spina bifida inawezakuzuiliwa kwa asilimia kubwa mama akitumia Tembe za folic acid ambazo ni madini yanayotolewa kwenye vyakula vya asili.</p>

            <h2>Kutembea</h2>
            <p>Sehemu kubwa ya watu ambao wana spina bifida wanatumia miguu yao kutembea kwa msaada wa viatu maalumu, mikongojo ya kutembelea na ama kiti cha magurudumu. Karibia watu wote ambao wana spina bifida hujitegemea wanapotembea.</p>

            <h2>Kuzuilia haja</h2>
            <p>Spina bifida inaweza kusababisha mtu asiwe na uwezo wa kuzuilia haja ndogo na au kubwa, lakini kwa msaada maalumu wa kimatibabu watu wazima na watoto wadogo manaweza kujimudu na kuwa wasafi!</p>
        </div>
    </div>
    <% include footer %>
</body>
</html>