<!doctype html>
<html>
<head>
    <% include inner_head %>
</head>

<body>
    <% include navbar %>
    <a class="post-button" href="/handouts_swahili">Swahili</a>
    <div id="container">

        <div class="findus">
            <h1>Celebral Palsy</h1>
            <p class='lowerheader'>What is Cerebral Palsy?</p> 
            <p class='text'>Cerebral palsy is caused by brain injury before, during, or shortly after birth. Sometimes the damage only effects muscle control, delaying when a baby rolls, crawls or walks. When the problem happens at birth or later babies may also have learning disabilities and seizures. Children born with cerebral palsy are often weak and floppy as small babies. They may have trouble eating, sleeping, and growing. </p>

            <p class='lowerheader'>Prevention</p>
            <p class='text'>Cerebral palsy is caused by brain injury early in life. Infections or lack of oxygen
            before or around birth can cause cerebral palsy. It is also common in babies born too early. Good prenatal care and a healthy delivery can prevent cerebral palsy in many children.</p>

            <p class='lowerheader'>Movement</p>
            <p class='text'>Children with Cerebral Palsy have weakness and stiffness in their legs and arms. They often need braces, crutches or even a wheelchair to get around. Many children with cerebral palsy have normal intelligence. With assistance they can enjoy family, go to school and live happy and fulfilling lives.</p>

            <p class='lowerheader'>Seizures</p>
            <p class='text'>Children with cerebral palsy may have seizures. Special medicine taken every day can stop the seizures and prevent their harmful effects such as injury or developmental problems.</p>
            </br>
        </div>

        <div class="findus">
            <h1>Club Feet</h1>
            <p class='lowerheader'>What are Club Feet?</p> 
            <p class='text'>Clubfoot describes a range of foot abnormalities usually present at birth (congenital) in which your baby&#39;s foot is twisted out of shape or position. In clubfoot, the tissues connecting the muscles to the bone (tendons) are shorter than usual. The term &quot;clubfoot&quot; refers to the way the foot is positioned at a sharp angle to the ankle, like the head of a golf club. Clubfoot is a fairly common birth defect and is usually an isolated problem for an otherwise healthy newborn. Clubfoot can be mild or severe. About half of children with clubfoot have it in both feet. If your child has clubfoot, it will make it hard for him or her to walk normally, so doctors generally recommend treating it soon after birth. Early casting is usually able to treat clubfoot successfully, though sometimes children need follow-up surgery later on. </p></br>
        </div>

        <div class="findus">
            <h1>Development Disabilities</h1>
            <p class='lowerheader'>What are Developmental Disabilities?</p> 
            <p class='text'>Developmental Disabilities are problems that occur during childhood as a child’s body and brain grow and learn. They happen when something goes wrong early in life, usually before or during birth. Then as children mature their body is different in ways that effect development. Children may have difficulties walking, using their hands, speaking, learning or behaving normally. Developmental Disorders are not a curse.</p></br>
        </div> 

        <div class="findus">
            <h1>Hydrocephalus</h1>
            <p class='lowerheader'>What is Hydrocephalus?</p> 
            <p class='text'>Every brain is protected by a fluid cushion. Sometimes too much fluid surrounds a child’s brain and his head grows unusually quickly. When a child’s head looks too big for their body it is important to get medical help.</p></br>
        </div> 

        <div class="findus">
            <h1>Seizures</h1>
            <p class='lowerheader'>What are Seizures?</p> 
            <p class='text'>Children with developmental disabilities may also have seizures. Special medicine taken every day can decrease or stop the seizures and prevent harmful effects such as injury or worsening of developmental delays.</p></br>
        </div> 

        <div class="findus">
            <h1>Spina Bifida</h1>
            <p class='lowerheader'>What is Spina Bifida?</p> 
            <p class='text'>Spina Bifida is caused when the spine does not form properly very early in development, before a baby is born. Then when the baby is born this problem in their back leads to weakness in their legs and toileting difficulties. </p>

            <p class='lowerheader'>Prevention</p>
            <p class='text'>Folic acid is a natural supplement found in food that prevents Spina Bifida in most babies if taken by women before conception and early in pregnancy.</p>

            <p class='lowerheader'>Movement</p>
            <p class='text'>People with Spina Bifida often cannot use their feet or legs. But with the help of braces, crutches, or wheelchairs, nearly all people with Spina Bifida can become mobile.</p>

            <p class='lowerheader'>Incontinence</p>
            <p class='text'>Spina Bifida often causes a lack of bowel and bladder control. Fortunately, this can be addressed. Even young children can learn how to keep themselves clean and dry.</p>
            <br><br>
        </div>
    </div>
    <% include footer %>
</body>