<!doctype html>
<html>
<head>
    <% include inner_head %>
</head>

<body>
    <% include navbar %>
    <a class="post-button" href="/handouts">English</a>
    <div id="container">

        <div class="findus">
            <h1>Celebral Palsy</h1>
            <p class='lowerheader'>Cerebral Palsy ni nini?</p> 
            <p class='text'>Cerebral palsy ina sababishwa na ajaliya ubongo kabla ya mtoto kuzaliwa ama muda mfupi kabla hajazaliwa. Wakati mwingine ajali hiyo huathiri misuli, kuchelewa kwa mtoto kujigeuza, kutambaa na kutembea. Jambo hili likitikea wakati mtoto anapozaliwa au baadaye mtoto anaweza kukuwa na upungufu wa uwezo wa kujifunza haraka. Watoto wegi walio na cerebral palsy mara nyingi miili yao huwa dhaifu na watoto hawa wanawez kukuwa na matatizo ya kula, kulala nad kukua.</p>

            <p class='lowerheader'>Kuzuia</p>
            <p class='text'>Cerebral palsy inasababishwa na ajali ya ubongo mapema maishani, maambukizi au ukosefu wa hewa ya oxigeni kabla au mtoto anapokuwa anazaliwa. Cerebral palsy hujitokeza pia kwa watoto walio zaliwa kabla ya miezi tisa! Matibabu mazuri kwa mama mjamzito kabla ya kujifunguna wakati anapojifungua yanaweza kuzuia Cerebral Palsy kwa watoto wengi!</p>

            <p class='lowerheader'>Kutembea</p>
            <p class='text'>Watoto walio na cerebral Palsy wana udhaifu na ugumu kwenye miguu na mikono yao. Mara nyingi wanahitaji viati maalum, mikongojo au kiti cha magurudumu kutembea. Watoto wengi walio na cerebral palsy wana akili za kawaida. Kwa msaada wanaweza kufurahia familia zao, kwenda shuleni na kuishi maisha ya furaha wakitimiza malengo ya maisha yao.</p>

            <p class='lowerheader'>Mishtuko</p>
            <p class='text'>Watoto walio na Cerebral Palsy wanaweza kukuwa na Mishtuko, Dawa maalum hutumika kila siku kuzuia mishtuko na ajali ambazo hutokana na mishtuko.</p>
            </br>
        </div>

        <div class="findus">
            <h1>Je, Ulemavu Endelevu</h1>
            <p class='lowerheader'>Je, Ulemavu Endelevu ni nini?</p> 
            <p class='text'>Kasoro za kimaumbile ambazo zinasababisha kutonawiri kwa afya ya mtoto, hutokeo wakati ambapo mwili na ubongo wa mtoto zinakua na kujifunza. Hali hii hujitokeza aidha kabla ya kuzaliwa au anapozaliwa mtoto. Kisha mtoto anavyo endelea kukua miili yao huwa tofauti ikithihirisha kustawi kwake kulivyo athirika. Watoto hawa wanaweza kukuwa na ugumu wa kutembea, kutumia mikono yao, kuongea, kujifunza oa kukuwa na tabia za kawaida. Kasoro ya Kutonawiri kwa Afya ya mtoto sio laana.</p></br>
        </div> 

        <div class="findus">
            <h1>Vichwa Vikubwa</h1>
            <p class='lowerheader'>Vichwa Vikubwa ni nini?</p> 
            <p class='text'>Ubongo ya kila mtu imezingirwa na maji. Wakati mwingine maji mengi huzingira ubongo wa mtoto na hivyo kusababisha kichwa chake kukua kwa kasi kuliko kawaida. Kichwa cha mtoto kikionekana kukua kikubwakuliko mwili wake ni muhimu kupata msaada wa kimatibabu!</p></br>
        </div> 

        <div class="findus">
            <h1>Mishtuko</h1>
            <p class='lowerheader'>Mishtuko ni nini?</p> 
            <p class='text'>Watoto walio na ulemavu endelevu manaweza kukuwa na mishtuko. Dawa maalum hutumika kila siku kuzuia ama kusitisha mishtuko na pia kuzuia athari mbaya kama ajali au hali ya kuzidisha hali walionayo watoto hawa.</p></br>
        </div> 

        <div class="findus">
            <h1>Spina Bifida</h1>
            <p class='lowerheader'>Spina Bifida ni nini?</p> 
            <p class='text'>Spina bifida inatokea wakati ambapo uti wa mgongo haukamiliki au hauumbiki vyema mtoto anaokuwa tumboni mwa mama yake. Kisha mtoto anapozaliwa taizo la mgongo wao husababisha udhaifu kwenye miguu na ugumu wa kudhibiti haja ndogo na kubwa.</p>

            <p class='lowerheader'>Kuzuia</p>
            <p class='text'>Spina bifida inawezakuzuiliwa kwa asilimia kubwa mama akitumia Tembe za folic acid ambazo ni madini yanayotolewa kwenye vyakula vya asili.</p>

            <p class='lowerheader'>Kutembea</p>
            <p class='text'>Sehemu kubwa ya watu ambao wana spina bifida wanatumia miguu yao kutembea kwa msaada wa viatu maalumu, mikongojo ya kutembelea na ama kiti cha magurudumu. Karibia watu wote ambao wana spina bifida hujitegemea wanapotembea.</p>

            <p class='lowerheader'>Kuzuilia haja</p>
            <p class='text'>Spina bifida inaweza kusababisha mtu asiwe na uwezo wa kuzuilia haja ndogo na au kubwa, lakini kwa msaada maalumu wa kimatibabu watu wazima na watoto wadogo manaweza kujimudu na kuwa wasafi!</p>
            <br><br>
        </div>
    </div>
    <% include footer %>
</body>