<!doctype html>
<html class="donations_main">
<html lang="en">
<head>
    <% include header %>
</head>

<body>
    <p> Wezesha Kupaa, Swahili for Enable to Fly, is a comprehensive disability outreach program in Tanzania. We empower children with disabilities by improving their access to specialized medical care, education, social inclusion and support.  Our name was inspired by the words of the Mexican painter Frida Kahlo who said, “Feet, what do I need you for when I have wings to fly?” </p>

<footer>
    <% include footer %>
</footer>

</body>
