<!doctype html>
<html class="donations_main">
<html lang="en">
<head>
    <% include header %>
</head>

<body style="width: 100%">
    <main id="home_main">
        <div id="container">
            <div id ="home_option">
                <h2>Education</h2>
            </div>
            <div id = "home_option">
                <h2>Community</h2>
            </div>
            <div id = "home_option">
                <h2>Medical</h2>
            </div>
            <div id = "home_option">
                <h2>Partners</h2>
            </div>
        </div>

    </main>
    <section id="home_health" class="home_sec">
        <h1>Medical Support</h1>
        <div class="icontext">
            <p>Our state of the art medical facilities... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a sapien aliquam, feugiat orci ut, mollis tortor. Curabitur sed tempor nisi, nec lacinia enim. Aenean auctor, sapien eu ultricies semper, metus ipsum convallis neque, id interdum odio velit nec turpis. Duis in eros a dolor tristique elementum eget vitae velit. Etiam dignissim vel tortor quis maximus. Aliquam vestibulum odio eros, consectetur pulvinar nibh auctor sit amet. Donec vel ultrices odio. Quisque vulputate sit amet nunc ac blandit. Morbi efficitur, nunc at auctor finibus, orci enim pulvinar dolor, finibus viverra enim massa tempor ligula. Sed feugiat nibh at nisl porta varius. Nunc lobortis dignissim dapibus. Pellentesque nibh justo, commodo eu libero sit amet, gravida convallis tortor. Mauris velit libero, pharetra ut eleifend a, hendrerit eu ex.</p>
            <i class="fa fa-stethoscope home_icon" aria-hidden="true"></i>
        </div>
    </section>
    <section id="home_ed" class="home_sec">
        <h1>Education</h1>
        <div class="icontext">
            <i class="fa fa-graduation-cap home_icon" aria-hidden="true"></i>
            <p>Our educational opportunities... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a sapien aliquam, feugiat orci ut, mollis tortor. Curabitur sed tempor nisi, nec lacinia enim. Aenean auctor, sapien eu ultricies semper, metus ipsum convallis neque, id interdum odio velit nec turpis. Duis in eros a dolor tristique elementum eget vitae velit. Etiam dignissim vel tortor quis maximus. Aliquam vestibulum odio eros, consectetur pulvinar nibh auctor sit amet. Donec vel ultrices odio. Quisque vulputate sit amet nunc ac blandit. Morbi efficitur, nunc at auctor finibus, orci enim pulvinar dolor, finibus viverra enim massa tempor ligula. Sed feugiat nibh at nisl porta varius. Nunc lobortis dignissim dapibus. Pellentesque nibh justo, commodo eu libero sit amet, gravida convallis tortor. Mauris velit libero, pharetra ut eleifend a, hendrerit eu ex.</p>
        </div>
    </section>
    <section id="home_comm" class="home_sec">
        <h1>Community</h1>
        <div class="icontext">
            <p>Something about community... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent a sapien aliquam, feugiat orci ut, mollis tortor. Curabitur sed tempor nisi, nec lacinia enim. Aenean auctor, sapien eu ultricies semper, metus ipsum convallis neque, id interdum odio velit nec turpis. Duis in eros a dolor tristique elementum eget vitae velit. Etiam dignissim vel tortor quis maximus. Aliquam vestibulum odio eros, consectetur pulvinar nibh auctor sit amet. Donec vel ultrices odio. Quisque vulputate sit amet nunc ac blandit. Morbi efficitur, nunc at auctor finibus, orci enim pulvinar dolor, finibus viverra enim massa tempor ligula. Sed feugiat nibh at nisl porta varius. Nunc lobortis dignissim dapibus. Pellentesque nibh justo, commodo eu libero sit amet, gravida convallis tortor. Mauris velit libero, pharetra ut eleifend a, hendrerit eu ex.</p>
            <i class="fa fa-users home_icon" aria-hidden="true"></i>
        </div>
            
    </section>
<!--     <section class="view_top">
<div class="container">
    <h1>Wezesha Kupaa</h1>
    <div class="view_top"><h2><%= title %></h2></div>
</div>
</section>
<p> Wezesha Kupaa, Swahili for Enable to Fly, is a comprehensive disability outreach program in Tanzania. We empower children with disabilities by improving their access to specialized medical care, education, social inclusion and support.  Our name was inspired by the words of the Mexican painter Frida Kahlo who said, “Feet, what do I need you for when I have wings to fly?” </p>
 -->
<footer>
    <% include footer %>
</footer>

</body>
