<!doctype html>
<html class="donations_main">
<html lang="en">
<head>
    <% include inner_head %>
</head>

<body>
    <% include navbar %>
    <main id="home_main">
        <div id="home_text">
            <h2>We are Wezesha Kupaa.</h2>
            <h3>We enable kids to <span class="green">fly</span>.</h3>
        </div>
    </main>
<!--     <section class="view_top">
<div class="container">
    <h1>Wezesha Kupaa</h1>
    <div class="view_top"><h2><%= title %></h2></div>
</div>
</section>
<p> Wezesha Kupaa, Swahili for Enable to Fly, is a comprehensive disability outreach program in Tanzania. We empower children with disabilities by improving their access to specialized medical care, education, social inclusion and support.  Our name was inspired by the words of the Mexican painter Frida Kahlo who said, “Feet, what do I need you for when I have wings to fly?” </p>
 -->
<footer>
    <% include footer %>
</footer>

</body>
