<!doctype html>
<html>
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <main id="home_main">
        <div id="home_option">
            <h2>Wezesha Kupaa</h2>
            <h3>connecting children with disabilities with communities that care</h3>
        </div>
        <div id="home_buttons"> 
            <div>
                <a href="/education"><img src="/img/education/home_ed.png" class="image"><br/>Education</a>
            </div>
            <div>
                <a href="/medical"><img src="/img/medical/home_med.png" class="image"><br/>Medical</a>
            </div>
            <div>
                <a href="/community"><img src="/img/community/home_comm.png" class="image"><br/>Community</a>
            </div>
            <div>
                <a href="/partners"><img src="/img/partners/partners-top-img.png" class="image"><br/>Partners</a>
            </div>
        </div> <!-- End id home -->
    </main>
    <% include footer %>
</body>
</html>