<!doctype html>
<html lang="en" class="donations_main">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <main id="home_main">
        <div id="container">
            <div id ="home_option">
                <a target="_blank" href="/education">Education</a>
            </div>
            <div id = "home_option">
                <a href="/medical">Medical</a>
            </div>
            <div id = "home_option">
                <a href="/sponsors">Community</a>
            </div>
            <div id = "home_option">
                <a href="/partners">Partners</a>
            </div>
        </div>
    </main>
<% include footer %>
</body>
</html>