<!doctype html>
<html lang="en" class="donations_main">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <main id="home_main">
        <div id="home_option">
            <h2>Wezesha Kupaa</h2>
            <h3>connecting children with disabilities with communities that care</h3>
        </div>
        <div id="home_buttons">
            <div id="home_ed">
                <p>Education</p>
            </div>
            <div id="home_comm">
                <p>Community</p>
            </div>
            <div id="home_med">
                <p>Medical</p>
            </div>
            <div id="home_part">
                <p>Partners</p>
            </div>
        </div>
    </main>
    <% include footer %>
</body>
</html>