<!doctype html>
<html lang="en" class="donations_main">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%">
    <% include navbar %>
    <main id="home_main">
        <div class="container">
            <div id="home_buttons"> 
                <div>
                    <a target="_blank" href="/education"><img src="/img/education/home_ed.png" class="image">Education</a>
                </div>
                <div>
                    <a target="_blank" href="/medical"><img src="/img/medical/home_med.png" class="image">Medical</a>
                </div>
                <div>
                    <a target="_blank" href="/sponsors"><img src="/img/community/home_comm.png" class="image">Community</a>
                </div>
                <div>
                    <a target="_blank" href="/partners"><img src="/img/partners/partners-top-img.png" class="image">Partners</a>
                </div>
            </div> <!-- End id home -->
        </div> <!-- End id container -->
    </main>
    <% include footer %>
</body>
</html>