<!doctype html>
<html class="donations_main">
<head>
    <% include header %>
</head>

     <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>Graduation Day!</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="#">Pamela</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span>Posted Wednesday April 12</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">Today this class graduated, yay!</p>

                <hr>
        </div>
    </div>
</div>
</body>

<footer>
    <% include footer %>
</footer>

    
