<!DOCTYPE html>
<html  class="donations_main" >
<head>
<% include header %>
</head>

<body>
    <div class="container">
            <p>by <a href="#"><%= author %></a></p>
            <p><%= body %></p>
            <!-- Image -->
            <img style="max-height: 300px; max-width: 300px;" class="img-responsive" src=<%= img %> alt="">
            <hr>
        </div>
    </div>
</body>

<footer>
    <% include footer %>
</footer>
</html>
