<!DOCTYPE html>
<html>
<head>
<% include inner_head %>
</head>

<body>
    <% include navbar %>

     <div class="post">
		<h1 id="about_head"><%= title %></h1>
		<h2>by <%= author %></h2>
		<h2 id="time"><span class="glyphicon glyphicon-time"></span> <%= timestamp %></h2>
		<p><%= body %></p>
    </div>
</body>

<% include footer %>
</html>
