<!DOCTYPE html>
<html>
<head>
<% include inner_head %>
</head>

<body>
    <% include navbar %>

    <div class="post">
		<h1 id="about_head"><%= title %></h1>
		<h2>by <%= author %></h2>
		<p><span class="glyphicon glyphicon-time"></span> <%= timestamp %></p>
		</br>
		<p class="message"><%= body %></p>
		<br>
    </div>
</body>

    <% include footer %>
</html>
