<!DOCTYPE html>
<html>
<head>
<% include inner_head %>
</head>

<body>

    <% include navbar %>

    <div class="post">
		<h1 id="about_head"><%= title %></h1>
		</br>
		<p>by <%= author %></p>
		<p><span class="glyphicon glyphicon-time"></span> <%= timestamp %></p>
		</br>
		<p><%= body %></p>
		</br>
    </div>
    <% include footer %>
</body>
</html>
