<!DOCTYPE html>
<html  class="donations_main" >
<head>
<% include header %>
</head>

<body>
    <div class="container">
            <h3>by <%= author %></h3>
            <p><%= body %></p>
        </div>
    </div>
</body>

<footer>
    <% include footer %>
</footer>
</html>
