<!doctype html>
<html lang="en" class="donations_main">
<head>
    <% include inner_head %>
</head>

<body style="width: 100%;">
    <% include navbar %>
    <main id="resources_main">
        <div class="resources_list">
            <div id ="resource_item">
                <h2>Partners/Providers</h2>
                <p>To find out who we work alongside, including our partners in the region, please view our <a id="link" target="_blank" href="/partners">network of providers.</a></p>
            </div>
            <div id = "resource_item">
                <h2>Map it!</h2>
                <p>We provide an <a href="/map">interactive map</a> that will allow you to view locations in Tanzania that work with Wezesha Kupaa. You can search for specific types of services or you can view services near your area.</p>
            </div>
            <div id = "resource_item">
                <h2>Handouts and Information</h2>
                <p>For important medical information, please follow <a href="/handouts">this link</a> to view external resources with detailed information on various conditions.</p>
            </div>
        </div>
    </main>
    <% include footer %>
</body>
</html>