<!doctype html>
<html class="donations_main">
<head>
    <% include inner_head %>
</head>
<body>
    <% include navbar %>
    <div class="sponsors_list_table">
       <table class="table assignments">
            <thead>
                <tr>    
                    <th>NGO Name</th>
                    <th>Location</th>
                    <th>Contact Information</th>
                </tr>
            </thead>
            <tbody>
                <!-- NGO 1 -->
                <tr>
                    <td>
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#ngo1">NGO 1</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="list-group">
                            <p class="list-group-item">This group helps Tanzanian families find medical services.</p>
                        </div>
                    </div>
                </td>
                    <td>Tanzania</td>
                    <td><a href="xxx">ngo1@ngo.com</a></td>
                </tr>
                <!-- NGO 2 -->
                <tr>
                    <td>
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#ngo1">NGO 2</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="list-group">
                            <p class="list-group-item">This group helps Tanzanian families find medical services.</p>
                        </div>
                    </div>
                    </td>
                <td>Tanzania</td>
                    <td><a href="xxx">ngo2@ngo.com</a></td>
                </tr>
                <!-- NGO 3 -->
                <tr>
                    <td>
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" href="#ngo1">NGO 3</a>
                        </h4>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="list-group">
                            <p class="list-group-item">This group helps Tanzanian families find medical services.</p>
                        </div>
                    </div>
                    </td>
                    <td>Tanzania</td>
                    <td><a href="xxx">ngo3@ngo.com</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <% include footer %>
    
</body>
</html>