<!doctype html>
<html class="donations_main">
<head>
    <% include header %>
</head>

<form action="/write" method="POST">
	<input type="text" name="title" /><br />
	<textarea name="content"></textarea><br />
	<button type="submit">Submit</button>
</form>


<footer>
    <% include footer %>
</footer>
</html>