<!doctype html>
<html class="donations_main">
<head>
    <% include header %>
</head>

<form action="/write" method="POST">
	Name <input type="text" name="author"/><br/>
	Title <input type="text" name="title"/><br/>
	Content <input type="text" name="body"><br/>
	<button type="submit">Submit</button>
</form>

<footer>
    <% include footer %>
</footer>
</html>