<!doctype html>
<html>
	<head>
	    <% include inner_head %>
	</head>

	<body>
		<% include navbar %>
		<form action="/write" method="POST">
			Name <input type="text" name="author"/><br/>
			Title <input type="text" name="title"/><br/>
			Content <input type="text" name="body"><br/>
			<button type="submit">Submit</button>
		</form>
	</body>

    <% include footer %>
</html>