<!doctype html>
<html>
	<head>
	    <% include inner_head %>
	</head>

	<body>
		<% include navbar %>
		<form action="/write" method="POST">
			Name <input type="text" name="author"/><br/>
			Title <input type="text" name="title"/><br/>
			Content <input type="text" name="body"><br/>

			<!-- Education -->
			<input type="checkbox" id="genEd" name="genEd" value="genEd">
    		<label for="genEd">General Education Updates</label>

    		<input type="checkbox" id="schoolStories" name="schoolStories" value="schoolStories">
    		<label for="schoolStories">School Stories</label>

    		<input type="checkbox" id="newStudents" name="newStudents" value="newStudents">
    		<label for="newStudents">New Students</label>

    		<input type="checkbox" id="educationFundOps" name="educationFundOps" value="educationFundOps">
    		<label for="educationFundOps">Education Funding Opportunities</label>

    		<!-- Community -->
			<input type="checkbox" id="outreach" name="outreach" value="outreach">
    		<label for="outreach">Outreach Activities</label>

    		<input type="checkbox" id="plannedWorkshops" name="plannedWorkshops" value="plannedWorkshops">
    		<label for="plannedWorkshops">Planned Workshops</label>

    		<input type="checkbox" id="microfinancing" name="microfinancing" value="microfinancing">
    		<label for="microfinancing">Microfinancing Projects</label>

    		<input type="checkbox" id="commFundOps" name="commFundOps" value="commFundOps">
    		<label for="commFundOps">Community Funding Opportunities</label>

    		<!-- Medical -->
			<input type="checkbox" id="genMed" name="genMed" value="genMed">
    		<label for="genMed">General Medical News</label>

    		<input type="checkbox" id="surgical" name="surgical" value="surgical">
    		<label for="surgical">Surgical Options</label>

    		<input type="checkbox" id="medSupport" name="medSupport" value="medSupport">
    		<label for="medSupport">Medical Supports</label>

    		<input type="checkbox" id="therapy" name="therapy" value="therapy">
    		<label for="therapy">Therapy</label>

    		<input type="checkbox" id="mobAids" name="mobAids" value="mobAids">
    		<label for="mobAids">Mobility Aids</label>

    		<input type="checkbox" id="educationFundOps" name="educationFundOps" value="educationFundOps">
    		<label for="educationFundOps">Medical Funding Opportunities</label>

    		<!-- Partners -->
			<input type="checkbox" id="newPartnerships" name="newPartnerships" value="newPartnerships">
    		<label for="newPartnerships">New Local and Regional Partnerships</label>

    		<input type="checkbox" id="networkOps" name="networkOps" value="networkOps">
    		<label for="networkOps">Network Opportunities</label>

    		<input type="checkbox" id="internationalPartners" name="internationalPartners" value="internationalPartners">
    		<label for="internationalPartners">International Partners</label>

    		<input type="checkbox" id="newStudents" name="newStudents" value="newStudents">
    		<label for="supportRequests">Support Requests</label>

			<input type="checkbox" name="News Category">
				<!-- Education -->
            	<option>General Education Updates</option>
            	<option>School Stories</option>
            	<option>New Students</option>
            	<option>Education Funding Opportunities</option>
            	<!-- Community -->
            	<option>Outreach Activities</option>
            	<option>Planned Workshops</option>
            	<option>Microfinancing Projects</option>
            	<option>Community Funding Opportunities</option>
            	<!-- Medical -->
            	<option>General Medical News</option>
            	<option>Surgical Options</option>
            	<option>Medical Supports</option>
            	<option>Therapy</option>
            	<option>Mobility Aids</option>
            	<option>Medical Funding Opportunities</option>
				<!-- Partners -->
            	<option>New Local and Regional Partnerships</option>
            	<option>Network Opportunities</option>
            	<option>International Partners</option>
            	<option>Support Requests</option>
        </input>
        <button type="submit">Submit</button>
		</form>
	</body>

    <% include footer %>
</html>