<!doctype html>
<html>
	<head>
	    <% include inner_head %>
	</head>

	<body>
		<% include navbar %>
		<form action="/write" method="POST">
			Name <input type="text" name="author"/><br/>
			Title <input type="text" name="title"/><br/>
			Content <input type="text" name="body"><br/>

			<!-- Education -->
			<input type="checkbox" id="education" name="education" value="education">
    		<label for="education">Education</label>
    		</br></br>

    		<!-- Community -->
			<input type="checkbox" id="community" name="community" value="community">
    		<label for="community">Community</label>
    		</br></br>

    		<!-- Medical -->
			<input type="checkbox" id="medical" name="medical" value="medical">
    		<label for="medical">Medical</label>
    		</br></br>

    		<!-- Partners -->
			<input type="checkbox" id="partners" name="partners" value="partners">
    		<label for="partners">Partners</label>
    		</br></br>

        <button type="submit">Submit</button>
		</form>
	</body>

    <% include footer %>
</html>