body {
	color: blue;
	text-align: center;
	background-color: lightblue;
}

.block {
    display: inline-block;
    color: green;
}

.background-color {
	color:yellow;
}

.inline {
    display: inline-block;
}

.top {
	color: black;
	vertical-align: top;
}

.alignSide {
	display: inline-block;
	float: left;
	color: black;
}